.item {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}
.todo__input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0 10px 0;
}

.todo__added-btn {
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
  font-weight: 900;
}

.change__buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: space-between;
}

.change__btn {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.change__btn.active {
  background-color: #4caf50; /* зелёная подсветка */
  color: white;
}

.todo__item {
  display: flex;
  align-items: center; /* выравнивание по вертикали */
  justify-content: space-between; /* элементы по краям */
  padding: 10px 0 0 0;
}
.todo__item-active {
  opacity: 0.5;
}

.todo__title {
  flex: 1; /* занимает всё свободное место */
  margin: 0 8px; /* отступы от чекбокса и кнопки */
  font-size: 20px;
}
.delete-btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  margin-left: 20px;
  min-width: 30px; /* чтобы у всех кнопок была одинаковая ширина */
  text-align: center; /* текст по центру */
}

.item-close {
  border-radius: 100%;
  border: 1px solid red;
  padding: 1px 5px 1px 5px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}
